<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
    <title>Front Page</title>
  </head>

  <body>
    <div class="container">
    <button class="back-btn" type="button" id="backBtn">Back</button>
    <main>
      <div class="verification">
      <h1>FashionGPT</h1>
        <div class = "error">
          <p>It seems like you aren't a member yet!</p>
        </div>
      <p>Username</p>
      <input type="username" id="username" />
      <br />
      <p>Email</p>
      <input type="username" id="email" />
      <br />
      <p>Password</p>
      <input type="password" id="password" />
      <br />
      <p>Re-enter Password</p>
      <input type="password" id="rpassword" />
      <br />
      <button class="signup-btn" type="button" id="signupbtn">Sign UP</button>
      </div>
    </main>
    </div>
  </body>
</html>

