body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
h1{
  padding: 0px;
}
button {
  background-color: #0074e4;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*container stlying*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
/*password verification stlying*/
.verification {
  text-align: center;
  border-radius: 10px;
  background-color: #202020;
  color: white;
  width: 400px;
  height: 600px;
  padding-top: 25px;
  box-sizing: border-box; 
  margin-bottom: 0px;
}

.regTextbox {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 50px; 
  padding-top: 0px;
  padding-bottom: 0px;
}

.enterText {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin-top: 5px;
  background: none;
  color: white;
}
.error{
color: red;
}
.back-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}
.regbutton
{
  margin-top: 25px;
  width: 200px;
}
/*signup page styling*/
.enterSignup
{
  color: white;
  width: 100%;
  border: 2px solid #cccccc;
  border-radius:5px;
  height: 60px;
  margin: 0;
  display: block;
  padding: 20px;
  min-width: 0;
  background: transparent;
  box-sizing: border-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
}
/* measurement page styling*/
.measurement-select {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.measurement-select label {
  font-weight: bold;
  text-align: center; 
  margin-bottom: 5px; 
}

select {
  width: 50%; 
  max-width: 125px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.sizing-guide {
  padding-left: 60px;
  width: 70%;
  height: auto; 
}
/*social media icons on email page*/
.social-icons {
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px;
  margin: 0 5px;
  color: white;
}
.continue-text {
  color: #cccccc;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.continue-text span {
  margin: 20px 10px ; 
}

.separator {
  border: none;
  border-top: 1px solid #cccccc;
  flex-grow: 1;
  margin: 0 10px;
}

.separator.top {
  display: none; 
}
.social-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-logos i {
  font-size: 50px;
  padding-bottom: 40px;
  margin: 5px; 
  flex-basis: 20%; 
  text-align: center; 
}
/*back button*/
#back2sec1,
#back2sec2,
#back2sec3,
#back2sec4 {
font-size: 20px;
margin-right: 320px;
}
#back2sec1:hover,
#back2sec2:hover,
#back2sec3:hover,
#back2sec4:hover {
  cursor: pointer;
}
/*images on register page*/
.registerimages1{
  width: 400px;
  height: 220px;
}
.registerimages2{
  width: 400px;
  height: 220px;
}
.registerimages3{
  width: 350px;
  height: 220px;
}
.registerimages4{
  width: 400px;
  height: 220px;
}
.registerimages5{
  width: 380px;
  height: 200px;
}
.fashiongptlogo
{
  width: 90px;
  height: 60px;
}
/*flash errors*/ 
.flash-error{
  color: red;
}
.flash-success{
  color: green;
}