/*body styling*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  overflow-y: auto; 
  overflow-x: hidden; 
  
}
/*header*/
.header {
  background-color: #18181c;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  position: flex; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 999; 
}
/*navbar styling*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 20px 10px 20px; 
}

.navbar h1 {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-right: auto; /
}
.navbar span{
  color: #ffffff;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; 
}

nav ul li {
  margin-left: 520px; 
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

main {
  padding: 20px;
}

button {
  background-color: #0074e4;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  width: 1700px;
  margin: 0 auto; 
}

.footer {
  background-color: #18181c;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
}


.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s;
}

.collapsible:hover {
  background-color: #18181c;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


i{
  color: white;
  padding: 15px;
  font-size: 20px;
}

#page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; 
}
/*sectior styling*/
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

h1.section-header {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px; 
}

.box {
  width: 150px; 
  background-color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: space-between; 
}


.box:hover {
  background-color: gray;
  transform: translateY(-3px);
}

/*next button styling*/
#next-button {
  margin-top: 30px; 
}

.container1 {
  display: flex;
  justify-content: center;
}
/*container styling*/
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
/*password reset form styling*/
.password-reset-form {
  width: 300px;
}

.password-reset-form h2 {
  text-align: center;
}

.password-reset-form form {
  display: flex;
  flex-direction: column;
}

.password-reset-form label {
  margin-bottom: 5px;
}

.password-reset-form input[type="password"],
.password-reset-form button {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.password-reset-form button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
/*navbar button styling*/
#homebutton:hover,
#likebutton:hover,
#setting:hover,
#settingbutton:hover {
  cursor: pointer;
}
/*search bar styling*/
.navbar input[type="text"] {
  padding: 10px; 
  border: 2px solid #cccccc; 
  border-radius: 5px; 
  font-size: 16px; 
  color: black;
  transition: border-color 0.3s ease; 
  flex: 1; 
  width: 100%;
}

.navbar input[type="text"]:focus {
  outline: none; 
  border-color: #007bff; 
}
.searchbar{
  text-align: left;
}
.navbarh1,
.navsearch,
.pagebuttons{
  flex: 1;
}

.navsearch {
  text-align: center;
}

.pagebuttons {
  text-align: right; 
}

.pagebuttons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagebuttons li {
  display: inline-block;
  margin-left: 10px; 
}
.container2{
  width: 1200px;
}
p {
  line-height: 1.6; 
}
/*suggested products styling*/
.suggested-products {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}


h3 {
  margin-top: 0; 
  margin-bottom: 5px; 
  white-space: normal; 
  text-align: center;
  width: 80%; 
  text-align: left;
}
/*a tag in view production styling*/
a.viewProductbtn {
  display: inline-block;
  padding: 10px 20px; 
  margin-top: auto; 
  text-align: center; 
  text-decoration: none; 
  color: #ffffff; 
  background-color: #007bff; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  width: 50%; 
}

a.viewProductbtn:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

a.viewProductbtn:focus {
  outline: none; 
}

a.viewProductbtn:active {
  transform: translateY(1px); 
}
.fashiongptlogo{
  width: 90px;
  height: 60px;
}
.suggestion-header {
  display: flex;
  align-items: center;
  
}
.mark-favorite{
  background-color: black;
  padding: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  padding: 5px 0;
  min-width: 120px;
  right: 0;
  left: auto; 
}

.dropdown-content a {
  color: #333333;
  font-weight: bold; 
  padding: 10px 20px; 
  text-decoration: none; 
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*outfit generation styling*/
.generateoutfit {
  padding: 5px 10px;
  background-color: #007bff; 
  color: #fff; 
  margin: 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s; 
}

.generateoutfit:hover {
  background-color: #0056b3;
}
/*error styling*/
.flash-error{
  color: red;
}
.flash-success{
  color: green;
}
h2#dashh2{
  font-size: 25px;
  font-weight: bold;
}
.dashh1{
  font-size: 30px;
  font-weight: bold;
}
.shadow-lg{
  margin-bottom: 30px;
}