<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="regstyles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script src="script.js"></script>
    <title>Front Page</title>
  </head>

  <body>
    <div class="container">
      <button class="back-btn" type="button" id="backBtn">Back</button>
      <main>
        <form method="post" action="{{ url_for('emailVerification') }}">
          <div class="regTextbox">
              <h1>FashionGPT</h1>
              <p>Email</p>
              <input type="text" class="enterText" id="email" placeholder="Email Address"/>
              <br>
              <button class="regbutton" type="submit" id="emailBtn">Continue</button>
          </div>
      </form>
      </main>
    </div>
  </body>
</html>
