<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selectable Boxes</title>
  <script src="static/script.js"></script>
  <link rel="stylesheet" href="static/styles.css"> <!-- Unique CSS file for this page -->
</head>
<body>
  <div id="page-content">
    <h1 class="section-header" id="section1">Season</h1>
    <div class="section-container">
      <div class="box-container" id="section1-boxes">
        <div class="box" id="Spring">Spring</div>
        <div class="box" id="Summer">Summer</div>
        <div class="box" id="Monsoon">Monsoon</div>
        <div class="box" id="Fall">Fall</div>
        <div class="box" id="Winter">Winter</div>
      </div>
    </div>
    
    <h1 class="section-header" id="section2">Style</h1>
    <div class="section-container">
      <div class="box-container" id="section2-boxes">
        <div class="box" id="Athleisure">Athleisure</div>
        <div class="box" id="Bohemian">Bohemian</div>
        <div class="box" id="Business Casual">Business Casual</div>
        <div class="box" id="Casual">Casual</div>
        <div class="box" id="Formal">Formal</div>
        <div class="box" id="Gothic">Gothic</div>
        <div class="box" id="Minimalist">Minimalist</div>
        <div class="box" id="Preppy">Preppy</div>
        <div class="box" id="Streetwear">Streetwear</div>
        <div class="box" id="Vintage">Vintage</div>
      </div>
    </div>
    
    <h1 class="section-header" id="section3">Section 3</h1>
    <div class="section-container">
      <div class="box-container" id="section3-boxes">
        <div class="box" id="box11">Outerwear</div>
        <div class="box" id="box12">Tops</div>
        <div class="box" id="box13">Bottoms</div>
        <div class="box" id="box14">Shoes</div>
        <div class="box" id="box15">Accessories</div>
      </div>
      <button id="next-button">Next</button> <!-- Next button -->
    </div>
  </div>
</body>
</html>
