<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>FashionGPT</title>
</head>
<body>
    <header>
        <h1>FashionGPT</h1>
        <nav class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Login/Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h2>What is FashionGPT</h2>
            <p>Welcome to FashionGPT!  Here at FashionGPT, we help our users create outfits based on certain factors the users input with the help of ChatGPT. </p>
        </section>
        <section class="content">
            <article class="description">
                <h2>What it does:</h2>
                <p> FashionGPT uses a GPT AI, alongside user measurements to create outfits based on them. </p>
            </article>
        </section>

        <h2>Featured Fashion Items</h2>
        <div class="fashion-items">
            {% for item in fashion_items %}
            <div class="item">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p>Price: {{ item.price }}</p>
            </div>
            {% endfor %}
        </div>

    </main>

    <footer>
        <p>&copy; 2023 FashionGPT</p>
    </footer>
</body>
</html>
