<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/styles.css">

  <script src="static/script.js"></script>
  <title>Front Page</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar">
        <h1>FashionGPT</h1>
        <ul>
          <li><button type="button" id="getStarted">Get Started</button></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <main>
      <h1>FashionGPT</h1>
      <p>
        Welcome to Fashion-GPT! Here at Fashion-GPT, we help our users create
        outfits based on certain factors the users input with the help of
        ChatGPT.
      </p>
      <p>
        What it does: Fashion-GPT uses a GPT AI, alongside user measurements to
        create outfits based on them.
      </p>
      <button type="button" id="getStarted2">Get Started</button>
      <a href="{{url_for('register')}}">Register</a>
    </main>
  </div>

  <footer class="footer" id="contactme">
    <h2>Let's Keep in Touch!</h2>
    <p>Copyright&copy; 2023 by FashionGPT</p>
  </footer>
</body>

</html>
