<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Three Sections Page</title>
</head>
<body class="three-sections-page">
    <div id="left-section">
    </div>

    <div id="middle-section">
    </div>

    <div id="right-section">
        <span id="homebutton"><i class="fa-solid fa-house"></i></span>
        <span id="likebutton"><i class="fa-solid fa-heart"></i></span>
        <span id="settingbutton"><i class="fa-solid fa-gear"></i></span>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
