<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
    <title>Front Page</title>
  </head>

  <body>
    <div class="container">
        <main>
          <div class="verification">
          <h1>FashionGPT</h1>
          <p>
            Password
          </p>
          <input type="password" id="password" name="q" />
          <br>
          <button class="password-btn" type="button" id="passwordbtn">Login</button>
          </div>
        </main>
        </div>
      </body>
    </html>
