<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/regstyles.css">
    <script src="static/script.js"></script>
    <title>Front Page</title>
    <style>
      .flash-error {
          color: red;
      }
  </style>
</head>
<body>
<div class="container">
    <main>
        <div class="verification">
            <form method="post" action="{{ url_for('passwordPage') }}">
                <h1>FashionGPT</h1>
                <p>Sign in to your Fashion GPT Account</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="regTextbox">
                    <input type="password" class="enterText" id="password" name="password" placeholder="Password"/>
                </div>
                <button class="regbutton" type="submit" id="passwordbtn">Login</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>