!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
    <title>Password and Security</title>
  </head>

<body>

  <body class="three-sections-page">

    <div id="left-section">
        <h2>Filters</h2>
        <button class="collapsible">Password/Security</button>
        <div class="content">
            <p>Go to Password and Security</p>
        </div>

        <button class="collapsible">Size Preference</button>
        <div class="content">
            <p>Go to Size Preference</p>
        </div>

    </div>



    <div id="middle-section">

      <button class="menu-button">Change Email</button>
      <button class="menu-button">Change Password</button>
      <button class="menu-button">Enable 2FA</button>





    <div id="right-section">
      <button class="menu-button">Home</button>
      <button class="menu-button">Likes</button>
      <button class="menu-button">Settings</button>
  </div>





    
</body>