<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/regstyles.css">
    <script src="static/script.js"></script>
    <title>Register</title>
</head>
<body>
<div class="container">
    <button class="back-btn" type="button" id="backBtnrs1">Back</button>
    <main>
        <div class="verification">
            <img src="https://cdn.glitch.global/3ba659aa-d705-4434-aa85-8aa43e7784f0/321.png?v=1709168291466" alt="Sizing Guide" class="sizing-guide">
            <h3>Please enter your pant size</h3>
            <div class="measurement-select">
                <label for="pWaist">Waist (in):</label>
                <select id="pWaist" name="pWaist">
                    <option value="Null">Null</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="38">38</option>
                    <option value="40">40</option>
                    <option value="42">42</option>
                    <option value="44">44</option>
                    <option value="46">46</option>
                    <option value="48">48</option>
                    <option value="50">50</option>
                    <option value="52">52</option>
                    <option value="54">54</option>
                    <option value="56">56</option>
                    <option value="58">58</option>
                    <option value="60">60</option>
                    <option value="64">64</option>
                    <option value="66">66</option>
                </select>
            </div>

            <div class="measurement-select">
                <label for="inseam">Inseam:</label>
                <select id="inseam" name="inseam">
                    <option value="Null">Null</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                </select>
            </div>

            <div class="measurement-select">
                <label for="hip">Hip:</label>
                <select id="hip" name="hip">
                    <option value="Null">Null</option>
                    <option value="32-33.5">32-33.5</option>
                    <option value="33.5-34.5">33.5-34.5</option>
                    <option value="34.5-35.5">34.5-35.5</option>
                    <option value="35.5-36.5">35.5-36.5</option>
                    <option value="36.5-37.5">36.5-37.5</option>
                    <option value="37.5-38.5">37.5-38.5</option>
                    <option value="38.5-39.5">38.5-39.5</option>
                    <option value="39.5-40.5">39.5-40.5</option>
                    <option value="40.5-41.5">40.5-41.5</option>
                    <option value="41.5-42.5">41.5-42.5</option>
                    <option value="42.5-43.5">42.5-43.5</option>
                    <option value="43.5-44.5">43.5-44.5</option>
                    <option value="45.5-46.5">45.5-46.5</option>
                    <option value="46.5-47.5">46.5-47.5</option>
                    <option value="47.5-48.5">47.5-48.5</option>
                    <option value="48.5-49.5">48.5-49.5</option>
                    <option value="49.5-50.5">49.5-50.5</option>
                    <option value="50.5-51.5">50.5-51.5</option>
                    <option value="51.5-52.5">51.5-52.5</option>
                </select>
            </div>

            <div class="button-container">
              <button id="continue-btn2" class="continue-btn" type="submit">Continue</button>
            </div>
        </div>
    </main>
</div>
</body>
</html>