<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="regstyles.css">
    <script src="script.js"></script>
    <title>Front Page</title>
  </head>

  <body>
    <div class="container">
      <button class="back-btn" type="button" id="backBtn">Back</button>
      <main>
        <div class="verification">
          <h1>FashionGPT</h1>
          <div class="error">
            <p>It seems like you aren't a member yet!</p>
          </div>
          <div class="regTextbox">
            <p>Username</p>
            <input type="text" id="username" class="enterText"/>
            <p>Email</p>
            <input type="text" id="email" class="enterText"/>
            <p>Password</p>
            <input type="password" id="password" class="enterText"/>
            <p>Re-enter Password</p>
            <input type="password" id="rpassword" class="enterText"/>
            <button class="regbutton" type="button" id="signupbtn">Sign Up</button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
