<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/regstyles.css" />
    <script src="static/script.js"></script>
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <button class="back-btn" type="button" id="backBtnrs2">Back</button>
      <main>
        <div class="verification">
          <img src="https://cdn.glitch.global/3ba659aa-d705-4434-aa85-8aa43e7784f0/321.png?v=1709168291466" alt="Sizing Guide" class="sizing-guide">
          <h3>Please enter your size</h3>
          <div class="measurement-select">
            <label for="neck">Neck (in):</label>
            <select id="neck">
              <option value="Null">Null</option>
              <option value="13-13.5">13-13 1/2</option>
              <option value="14-14.5">14-14 1/2</option>
              <option value="15-15,5">15-15 1/2</option>
              <option value="17-17.5">16-16 1/2</option>
              <option value="18-18.5">17-17 1/2</option>
              <option value="19-19.5">18-18 1/2</option>
              <option value="16-16.5">19-19 1/2</option>
            </select>
          </div>

          <div class="measurement-select">
            <label for="chest">Chest:</label>
            <select id="chest">
              <option value="Null">Null</option>
              <option value="33-35">33-35</option>
              <option value="36-38">36-38</option>
              <option value="39-41">39-41</option>
              <option value="42-44">42-44</option>
              <option value="45-35">45-47</option>
              <option value="48-50">48-50</option>
            </select>
          </div>

          <div class="measurement-select">
            <label for="Sleeve">Sleeve:</label>
            <select id="shoulder">
              <option value="light">Light</option>
              <option value="average">Average</option>
              <option value="heavy">Heavy</option>
            </select>
          </div>

  <div class="button-container">
    <button id="continue-btn1" class="continue-btn" type="button">Continue</button>
  </div>
        </div>
      </main>
  </div>
</body>
</html>
