<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <script src="static/script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <title>Password Reset</title>
  </head>
  <body class="single-section-page">
    <header class="header">
      <div class="container">
        <nav class="navbar">
          <h1>FashionGPT</h1>
          <ul>
            <li></li>
            <span id="homebutton"><i class="fas fa-house"></i></span>
            <span id="likebutton"><i class="fas fa-heart"></i></span>
            <span id="settingbutton"><i class="fas fa-gear"></i></span>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container4">
      <div class="password-reset-form">
        <h2>Password Reset</h2>
        <form action="#" method="POST">
          <label for="oldPassword">Old Password:</label>
          <input type="password" id="oldPassword" name="oldPassword" required />

          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required />

          <label for="confirmPassword">Confirm New Password:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />

          <button type="submit">Confirm Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
