<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/regstyles.css">
    <script src="static/script.js"></script>
    <title>Front Page</title>
  </head>

  <body>
<div class="container">
  <button class="back-btn" type="button" id="back2login">Back</button>
    <main>
      <div class="verification">
      <form method="post" action="{{ url_for('verifyPassword') }}">
        <img src="https://cdn.glitch.global/70b98674-7945-4933-94d7-ed8029fb2905/logo.PNG?v=1714897729283" class="fashiongptlogo">
        <h1>FashionGPT</h1>
        <p>
          Sign in to your Fashion GPT Account
        </p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="regTextbox">
        <input type="password" class="enterText" id="password" name="password" placeholder="Password" />
          </div>
        <button class="regbutton" type="submit" id="passwordbtn">Login</button>
        </div>
      </form>
    </main>
    </div>
  </body>
</html>